

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type:square;
    list-style-position: outside;
}

button {
    font-size: 24px;
    background-color: deeppink;
    text-align: center;
}

#indexlist{
    list-style-type: none;
}

h2,
p{
    text-align: center;
}

.container {
    height: fit-content;
    width: auto;
    position: relative;
    border: 3px solid green;
    background-color: deeppink;
  }
  
.item1 {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.item2 {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.item3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.block{
    background-color: deeppink;
    border: 3px solid green;
    text-align: center;
    width: 600px;
    height: auto;
    margin-right: 50%;
    margin-left: 30%;
}

.description{
    background-color: deeppink;
    border: 3px solid green;
    text-align: center;
}

.instructions{
    background-color: deeppink;
    border: 3px solid green;
    text-align: center;
}

.preview{
    background-color: deeppink;
    border: 3px solid green;
    text-align: center;
}

body{
    background-image: url("images/background-image.png");
    background-position: center;
    background-attachment: fixed;
}

.back{
    background-color: deeppink;
    font-size: 16px;
    text-align: center;
}

.recepie-container{
    height: auto;
    width: fit-content;
    background-color: hotpink;
    border: 3px solid green;
}